.App {
  text-align: center;
  color: white;
  height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

/*Form CSS */
.FormCenter {
  margin-bottom: 100px;
  margin-top: -70px;
  padding: 120px;
  color: #2d3e50;
  font-size: 20pt;
  font-weight: 200;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
  margin-top: -15px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: #2d3e50;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

/*Form CSS ends */

.title {
  text-align: center;
  font-size: 20pt;
}

.card {
  width: 420px;
}

.card-content {
  color:black;

}

.collection-item {
  color: black;
}

.content-subhead {
  margin: 20px 0 10px 0;
  font-weight: 300;
  color: white;
  font-size: 3em;
}

.l-box {
  padding: 2em;
  color: black;
}

.wanted {
  color: red;
  font-weight: bold;
  font-size: 30px;
}

.att {
  font-weight: bold;
  font-size: 12pt;
  color: black;
}

.details {
  color: black;
}

.wit {
  font-weight: bold;
  font-size: 18pt;
  padding: 10px;
  color: black;
}


.form {
  padding: 70px;
  
}

.about {
  background-color: #1f8dd6;
  line-height: 1.6em;
  padding: 0 2em;
  width: cover;
  height: cover;
  min-height: 100vh;
  color: white;
}

.about-p {
  display: block;
  color: white;
  letter-spacing: 0.05 em;
  opacity: 0.8;
  text-align: left;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}

.about-p2 {
  display: block;
  color: white;
  letter-spacing: 0.05 em;
  opacity: 0.9;
  font-size: 14pt;
}

.row {
  min-height: 100vh;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1f8dd6; 
}


.home {
  background-color: rgb(21, 35, 43);
  size: medium;
  font-size: 18pt;
  float: center;
  color: white;
}

.fetchUsers {
  background-color: rgb(49, 162, 223);
  font-size: 12pt;
  padding: 10px;
  color: white;
}

.signOut {
  background-color: rgb(49, 162, 223);
  font-size: 12pt;
  padding: 10px;
  color: white;
  float: center;
  margin-right: 20px;
}

.splash-c {
  background: #1f8dd6;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  /* height: 20%; */
  top: 0;
  left: 0;
  /* position: fixed !important; */
}
.splash {
  width: 80%;
  /* height: 50%; */
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 20px;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 10px;
  line-height: 1em;
}

.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}